.homeButton {
    all: unset; /* remove background of img */
    cursor: pointer; 
    margin-left: auto;
    padding: 5px 5px;
}

.homeButton:hover {
    opacity: 0.5;
}

.header {
    background-color: #ffe100;
    display: flex;
    position: relative;
    border-radius: 5px;
}

